@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
}


<ul>
    @for (int i = 0; i < (int)ViewData["NumberOfTimes"]; i++) {
        <li>Welcome @ViewData["Name"] @ViewData["LastName"] op mijn MVC site.</li>
    }
</ul>
